<?xml version="1.0" encoding="windows-1252"?>

<!--
    Document   : config.xml
    Created on : 17 ottobre 2008,  11.15
    Author     :   Utente
    Description:
         Purpose of the document follows.
-->

<root>
    <canale tipo="SAT" capacita="1024000" dim_pacchetto = "188" tempo_propagazione = "134"></canale>
    <canale tipo="IHL" capacita="1024000" dim_pacchetto = "188" tempo_propagazione = "1" ></canale>
    <canale tipo="HAP" capacita="1024000" dim_pacchetto = "188" tempo_propagazione = "1" ></canale>
    
    <Satellite spot="2" id="0" periodoInfoServices="30000">
        <DESCR>nodo satellite</DESCR>
        <hap id="1" spotID="0">
            <descrizione>nodo hap</descrizione>
			<nodo id="3" tipo="ricevitore" rate="0" tx="" rx="VIDEO"></nodo>
			<nodo id="4" tipo="sorgente" rate="1024" tx="WEB" rx=""></nodo>
                        
        </hap>
        <hap id="2" spotID="1">
            <descrizione>nodo hap</descrizione>
			<nodo id="5" tipo="ricevitore" rate="0" tx="" rx="WEB" ></nodo>
			<nodo id="6" tipo="sorgente" rate="1024" tx="VIDEO" rx=""></nodo>
                        
        </hap>    
    </Satellite> 
    
    <Eventi>
        
        
        <path idSorgente="6" idDestinazione="2" tempo="15500"></path>
        <disconnetti idSorgente="6" idDestinazione="2" tempo="45000"></disconnetti>
        
        <path idSorgente="4" idDestinazione="1" tempo="11000"></path>
        <disconnetti idSorgente="4" idDestinazione="1" tempo="50000"></disconnetti>
        
        <attivazioneRicevitori>
            <nodo id="5" tempo="11000"></nodo>
            <nodo id="3" tempo="16000"></nodo>
        </attivazioneRicevitori>
        
        
    </Eventi>
    
    <hapVicina id_nodo_hap="1" id_nodo_hap_vicina="2"></hapVicina>
    <hapVicina id_nodo_hap="2" id_nodo_hap_vicina="1"></hapVicina>
    
    <Grafo size="7" pesi="3">
        <link tipo="full" n1="0" n2="1" delay="134" banda="1024000" costo="5"></link>
        <link tipo="full" n1="0" n2="2" delay="134" banda="1024000" costo="5"></link>
        <link tipo="full" n1="1" n2="2" delay="1" banda="1024000" costo="2"></link>
        <link tipo="full" n1="1" n2="3" delay="1" banda="1024000" costo="1"></link>
        <link tipo="full" n1="1" n2="4" delay="1" banda="1024000" costo="1"></link>
        <link tipo="full" n1="2" n2="5" delay="1" banda="1024000" costo="1"></link>
        <link tipo="full" n1="2" n2="6" delay="1" banda="1024000" costo="1"></link>
    </Grafo>
</root>
